
  body {
    font-family: "Roboto";
  }
  .gradient-bg-blue {
    background-image: linear-gradient(to right, #26d0ce, #1a2980);
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }

  .gradient-grey {
    background-image: linear-gradient(to right, #ccc, #eee);
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }

  .material-icons {
    font-size: 30px !important;
  }
  main {
    margin-top: 30px;
  }
  .pink {
    color: white !important;
  }
  .blue-purple {
    background-color: #3f51b5 !important;
    color: white !important;
  }
  .no-text-decoration {
    text-decoration: none;
  }
  .text-white {
    color: white !important;
  }
  .text-black {
    color: black !important;
  }
  .v-list__tile:hover {
    /*background-color: #ccc !important;*/
    color: blue;
  }
  .error--text {
    color: red !important;
  }
  .v-input__control {
    padding-right: 15px;
  }
